
.Sidebar{
    margin-top: 30px;
    width: 200px;
}

.Sidebar h4  {
    margin-right: 50px;
}

.Sidebar li {
    display: flex;
    margin: 20px 0;
}

.Sidebar li p {
    font-weight: 200;
    margin-right: 10px;
    color: grey;
}